@model CavanGaelsCarRentals.Models.ui.BookingConfirmUI

@{
    ViewBag.Title = "Confirmation";
}

<h2>CreateStep2</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BookingUI</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.BookingId)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(m => m.BookingId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CarReg)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(m => m.CarReg)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerEmail)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(m => m.CustomerEmail)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SupplierEmail)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(m => m.SupplierEmail)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CostPerDay)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.CostPerDay)
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
