@model CavanGaelsCarRentals.Models.ui.BookingUI

@{
    ViewBag.Title = "Create";
}



<div id="listCars" style="background-color: #FEF; font-size: large; padding: 20px; width: 100%">
<h2> Listing Cars</h2>
    <table>
    <tr>
        <th></th>
        <th>Car Reg</th>
        <th>Amount</th>
        <th></th>
    </tr>
 
    @foreach (var car in Model.Cars )
{
    <tr><td>
        <img src="" alt="car" />
    </td><td>
        @Html.DisplayFor(modelItem => car.car_reg)
    </td><td>
        @Html.DisplayFor(modelItem => car.cost_per_day)
    </td>
    <td>@Html.RouteLink("Book", new
   {
       controller = "Booking",
       action = "Create",
          car_reg = car.car_reg,
          fromdate = Model.fromDate,
          todate= Model.toDate,
            place = Model.Location} )</td>
    </tr>
    
    
}
</table>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
