
@model CavanGaelsCarRentals.Models.ui.LocationsUI
@{
    ViewBag.Title = "Home Pag.e";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
        <!--
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>  -->
           
        </div>
    </section>
}




<div id="rates">
<h2>text</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <!--
		<form method="post" action="#" name="search" class="search">-->
    
    
    
			<div class="editor-label">
            @Html.LabelFor(model => model.locations)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.locations, Model.locations)
            @Html.ValidationMessageFor(model => model.locations)
        </div>
        
        
    }

			<br /><br class="spacer"/>
			<label>Pick-Up &nbsp;</label>
            <select name="m1">
			  <option>Jan</option>
			  <option>Feb</option>
			  <option>Mar</option>
			  <option>Apr</option>
			</select>
            <select name="d1">
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			</select>
            <select name="h1">
			  <option>10</option>
			  <option>11</option>
			  <option>12</option>
			  <option>13</option>
			</select> : 
            <select name="h2">
			  <option>00</option>
			  <option>15</option>
			  <option>30</option>
			  <option>45</option>
			</select>
			<br /><br class="spacer"/>
            <label>Drop-Off</label>
            <select name="m2">
			  <option>Jan</option>
			  <option>Feb</option>
			  <option>Mar</option>
			  <option>Apr</option>
			</select>
            <select name="d2">
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			</select>
            <select name="h3">
			  <option>10</option>
			  <option>11</option>
			  <option>12</option>
			  <option>13</option>
			</select> : 
            <select name="h4">
			  <option>00</option>
			  <option>15</option>
			  <option>30</option>
			  <option>45</option>
			</select>
			<br /><br /><input type="image" src="images/btn_findcars.gif" tabindex="9" title="Submit" class="submitBtn" />
		</form>
</div>

<div id="news">
<h2>text</h2>

<ul>
	<li class="dot">20/05/2012 </li>
	<li>Cavan Gaels, giving you best cars at best prices, just ask you want it <a href="#">more...</a></li>
	<li class="dot">10/04/2012</li>
	<li>Cavan Gaels, giving you best cars at best prices, just ask you want it <a href="#">more...</a></li>
</ul>
</div>

<div id="testimonials">
<h2>text</h2>
<img src="images/img_testimonials.gif" alt="" width="123" height="148" />
<p class="quote"><span>Just as I wanted,</span><br /> 
After seaching all the sites for a suitable car, it was only Cavan Gaels who met my requirements, fast, affordable and efficient
</p>
<p class="name"><span>Torsby,</span> Longford</p>

