
@model CavanGaelsCarRentals.Models.ui.LocationsUI
@{
    ViewBag.Title = "Home Pag.e";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
        <!--
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>  -->
           
        </div>
    </section>
}


<div id="overs">
<div id="mainimg">
<img src="images/main_img.jpg" alt="" width="426" height="198" /></div>

<div id="grey">
<div id="ingrey">

<div id="welcome">
<h2>text</h2>
<h3>text</h3>
<p class="intro">Welcome to Cavan Gaels, where your can get the best cars for less</a></p>
<p><span>Cavan Gaels</span><br />
  Welcome to Cavan Gaels, where your can get the best cars for less <a href="#"></a></p>
</div>

<div id="services">
<h2>text</h2>
<p class="withimg"><span>Look no further</span><br />Welcome to Cavan Gaels, where your can get the best cars for less<a href="#"></a></p>

<ul class="left">
<li><a href="#">Read more </a></li>
<li><a href="#">Read more </a></li>
</ul>

<ul class="right">
<li><a href="#">Read more </a></li>
<li><a href="#">Read more </a></li>

</ul>
</div>
<div class="clear"></div>
</div>
</div>
</div>



<div id="rates">
<h2>text</h2>

@using (Html.BeginForm( "Index", "Booking", "POST")) {
    @Html.ValidationSummary(true)
    <!--
		<form method="post" action="#" name="search" class="search">-->
    
    
    
			<div class="editor-label">
            @Html.LabelFor(model => model.locations)
        </div>
        <div class="editor-field">
            @Html.DropDownList("location", Model.locations)
            @Html.ValidationMessageFor(model => model.locations)
        </div>
    
    <div class="editor-label">
            @Html.LabelFor(model => model.fromDate)
        </div><div class="editor-field">
    @Html.EditorFor(model => model.fromDate)</div>


    <div class="editor-label">
            @Html.LabelFor(model => model.toDate)
        </div><div class="editor-field">
       @Html.EditorFor(model => model.toDate) </div>
        <br /><br />
        <p>Cars Available: <span id="result"></span></p>
    
    <input type="image" src="images/btn_findcars.gif" tabindex="9" title="Submit" class="submitBtn" />

}

			<script>
			    var fromDate, toDate, location;
			    $(':input').change(function () {
			        $.ajax({
			            type: 'POST',
			            url: '/Home/CarsAvailable',
			            data: $(':input').serialize(),
			            success: function (result) {
			                alert("Ajax found " + result + "cars for your selection");
			                $('#result').html(result);
			            }
			        });
			    });
</script>
</div>

<div id="news">
<h2>text</h2>

<ul>
	<li class="dot">20/05/2012 </li>
	<li>Cavan Gaels, giving you best cars at best prices, just ask you want it <a href="#">more...</a></li>
	<li class="dot">10/04/2012</li>
	<li>Cavan Gaels, giving you best cars at best prices, just ask you want it <a href="#">more...</a></li>
</ul>
</div>

<div id="testimonials">
<h2>text</h2>
<img src="images/img_testimonials.gif" alt="" width="123" height="148" />
<p class="quote"><span>Just as I wanted,</span><br /> 
After seaching all the sites for a suitable car, it was only Cavan Gaels who met my requirements, fast, affordable and efficient
</p>
<p class="name"><span>Torsby,</span> Longford</p>

